<div class="card">
  <div class="card-header">
    Search Expenses
  </div>
  <div class="card-body">
    <span class="add-exp-container">
      <button type="button" class="btn btn-primary" [routerLink]="['add']">Add Expense</button>
      <button type="button" class="btn btn-primary" [routerLink]="['upload']">Upload Expenses</button>
    </span>
    <div class="row">
      <div class="col-md">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a [ngClass]="{'nav-link': true, 'active': selectedTab == 'cm'}" data-toggle="tab" role="tab" [routerLink]="['recent']" aria-selected="false">Current Month</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'nav-link': true, 'active': selectedTab == '3m'}" data-toggle="tab" role="tab" [routerLink]="['last-3-months']" aria-selected="false">Last 3 Months</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'nav-link': true, 'active': selectedTab == '6m'}" data-toggle="tab" role="tab" [routerLink]="['last-6-months']" aria-selected="false">Last 6 Months</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'nav-link': true, 'active': selectedTab == 'ytd'}" data-toggle="tab" role="tab" [routerLink]="['ytd']" aria-selected="true">YTD</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'nav-link': true, 'active': selectedTab == 'cs'}" data-toggle="tab" role="tab" [routerLink]="['search']" aria-selected="false">Custom Search</a>
          </li>
        </ul>
      </div>
    </div>
    <br />
    <router-outlet></router-outlet>
  </div>
</div>