footer {
	clear: both;
    position: fixed;
    bottom: 0px;
	width: 100%;
	height: 30px;
	line-height: 30px;
}

footer .footer-container {
    text-align: center;
    color: #FFFFFF;
    background-color: #343a40;
}