<div class="card">
  <div class="card-header">
    Search Trades
  </div>
  <div class="card-body">
    <form [formGroup]="searchForm" (submit)="onSubmit()" novalidate>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label class="control-label">Stock Code:</label>
          <input class="form-control" formControlName="stockCode" placeholder="Stock Code">
        </div>
        <div class="form-group col-md-4">
          <label class="control-label">Start Date:</label>
          <div class="input-group">
            <input class="form-control" formControlName="startDate" ngbDatepicker #startDate="ngbDatepicker" placeholder="Start Date">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="startDate.toggle()" type="button"></button>
            </div>
          </div>                    
        </div>
        <div class="form-group col-md-4">
          <label class="control-label">End Date:</label>
          <div class="input-group">
            <input class="form-control" formControlName="endDate" ngbDatepicker #endDate="ngbDatepicker" placeholder="End Date">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="endDate.toggle()" type="button"></button>
            </div>
          </div>          
        </div>
      </div>      
      <div class="form-group btn-container" style="text-align:center;">
        <button type="submit" class="btn btn-primary">Search</button>
        <button type="button" class="btn btn-secondary" (click)="onClear()">Clear</button>
        <a class="btn btn-primary" role="button" aria-disabled="true" routerLink="/trades/add">Add</a>
      </div>
    </form>
  </div>
</div>

